###
# num-codex processes common ignores
###
**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/

**/*.iml

###
# test data generator ignores
###
codex-processes-ap1-test-data-generator/cert/**/*.pem
codex-processes-ap1-test-data-generator/cert/**/*.csr
codex-processes-ap1-test-data-generator/cert/**/*.p12
codex-processes-ap1-test-data-generator/cert/thumbprints.txt

codex-processes-ap1-test-data-generator/bundle/*.xml

codex-processes-ap1-test-data-generator/config/*.properties

codex-processes-ap1-test-data-generator/rsa/*.pem

###
# codex-processes-ap1-docker-test-setup ignores
###
codex-processes-ap1-docker-test-setup/**/bpe/log/*.log
codex-processes-ap1-docker-test-setup/**/bpe/log/*.log.gz
codex-processes-ap1-docker-test-setup/**/bpe/plugin/*.jar
codex-processes-ap1-docker-test-setup/**/bpe/process/*.jar

codex-processes-ap1-docker-test-setup/dic/bpe/cache/**/*.json.gz

codex-processes-ap1-docker-test-setup/**/fhir/conf/bundle.xml
codex-processes-ap1-docker-test-setup/**/fhir/log/*.log
codex-processes-ap1-docker-test-setup/**/fhir/log/*.log.gz

codex-processes-ap1-docker-test-setup/secrets/*.pem
codex-processes-ap1-docker-test-setup/.env
codex-processes-ap1-docker-test-setup/docker-compose.override.yml

###
# codex-process-data-transfer ignores
###
codex-process-data-transfer/application.properties